VITE_SPACETIMEDB_HOST=https://maincloud.spacetimedb.com
VITE_SPACETIMEDB_DB_NAME=ideahero-9w7zp
GEMINI_API_KEY=
OBJECT_STORAGE_REGION=
OBJECT_STORAGE_NAMESPACE=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
